// Duration.
$fast-transition    : 0.2s;
$medium-transition  : 0.3s;
$long-transition    : 0.6s;

// Font properties
$base-f-size: 16px;
$raleway: 'Raleway', sans-serif;
$varela-round: 'Varela Round', sans-serif;
$Quicksand: 'Quicksand', sans-serif;

// Descriptive color variables
$white            : #fff;
$black            : #000;
$wild-sand        : #f5f5f5;
$woodsmoke        : #121619;
$success          : #16a085;
$error            : #DF1D37;
$crimson          : crimson;
$shark            : #20222B;

// Java ColorScheme
$java              : #17c2aa;

// EggBlue ColorScheme
$eggBlue           : #07BEB8;

// Rocky ColorScheme
$rocky             : #0F0326;

// Portage ColorScheme
$portage           : #817AF0;

// Caribbean  ColorScheme
$caribbean         : #02C39A;

// Jazzberry  ColorScheme
$jazzberry         : #A61154;

// cerulean  ColorScheme
$cerulean          : #00A1E4;

// cinnabar  ColorScheme
$cinnabar          : #ED4D6E;

// Shamrock  ColorScheme
$shamrock          : #16a085;

// brightsun  ColorScheme
$brightsun         : #ff9334;
